<div class="main-content" *ngIf="!loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
            </div>
            <h4 class="card-title">Customer Profile Details</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <p>
                  Development of this page is WORK IN PRORESS
                </p>
                <p>
                  <span style = "color:#8866ff;">
                    Click below Button !!!
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 p-2">
                <button (click)="simulateCardTransaction()" class="btn btn-warning" type="button">Simulate a Card Transaction for this Customer</button>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
